@page
@model HoldemModel
@{
}
<h1>Play Texas Holdem!</h1>
<form method="post">

    <img id="myCard0" src="images/cardback.png" width="48" height="48" />
    <img id="myCard1" src="images/cardback.png" width="48" height="48" />

    <input id="myCardHidden0" type="hidden" asp-for="Hand.MyCard0Id" />
    <input id="myCardHidden1" type="hidden" asp-for="Hand.MyCard1Id" />
    <button type="submit">submit!</button>
    <p>@Model.Card0, @Model.Card1</p>
    <input type="hidden" asp-for="Hand.Flop0" />
    <input type="hidden" asp-for="Hand.Flop1" />
    <input type="hidden" asp-for="Hand.Flop2" />
    <button type="submit">submit!</button>
    <p>@Model.Flop0, @Model.Flop1, @Model.Flop2</p>
    <input type="text" asp-for="Hand.Turn" placeholder="turn" />
    <p>@Model.Turn</p>
    <input type="text" asp-for="Hand.River" placeholder="river" />
    <p>@Model.River</p>

</form>

<a id="QC">
    <img src="images/QC.png" width="48" height="48" />
</a>
<a id="JC">
    <img src="images/JC.png" width="48" height="48" />
</a>
<a id="JH">
    <img src="images/JH.png" width="48" height="48" />
</a>

<script>
    var cardIds = ['JC', 'QC', 'JH'];

    var currentCard = 0;
    cardIds.forEach(AddEventListeners);
    function AddEventListeners(item, index)
    {
        var btnCard = document.getElementById(item);
        btnCard.addEventListener('click', function () {
            SetCard(item);
        });
    }

    function SetCard(cardId)
    {
        var cardImage = document.getElementById('myCard' + this.currentCard);
        var cardhiddenElement = document.getElementById('myCardHidden' + this.currentCard);
        var imgSource = "images/" + cardId + ".png";
        cardImage.src = imgSource;
        cardhiddenElement.value = cardId;
        this.currentCard++;
    }
</script>

<button>Reset (todo)</button>
<p>Rank: @Model.HandRank</p>
<p>Current Round: @Model.CurrentRound</p>
<p>Probabilities</p>
<p>High Card: @Model.ChanceHighCard%</p>
<p>Pair: @Model.ChancePair%</p>
<p>Two Pair: @Model.ChanceTwoPair%</p>
<p>Three of a Kind: @Model.ChanceThreeKind%</p>
<p>Straight: @Model.ChanceStraight%</p>
<p>Flush: @Model.ChanceFlush%</p>
<p>Full House: @Model.ChanceFullHouse%</p>
<p>Four of a Kind: @Model.ChanceFourKind%</p>
<p>Straight Flush: @Model.ChanceStraightFlush%</p>
<p>Royal Flush: @Model.ChanceRoyalFlush%</p>

