@page
@model HoldemModel
@{
}
<h1>Play Texas Holdem!</h1>
<form method="post">
    <p id="myCard0"></p>
    <input type="text" asp-for="Hand.MyCard0Id" placeholder="card 0" />
    <input type="text" asp-for="Hand.MyCard1Id" placeholder="card 1" />
    <button type="submit">submit!</button>
    <p>@Model.Card0, @Model.Card1</p>
    <input type="text" asp-for="Hand.Flop0" placeholder="flop 0" />
    <input type="text" asp-for="Hand.Flop1" placeholder="flop 1" />
    <input type="text" asp-for="Hand.Flop2" placeholder="flop 2" />
    <button type="submit">submit!</button>
    <p>@Model.Flop0, @Model.Flop1, @Model.Flop2</p>
    <input type="text" asp-for="Hand.Turn" placeholder="turn" />
    <p>@Model.Turn</p>
    <input type="text" asp-for="Hand.River" placeholder="river" />
    <p>@Model.River</p>

</form>

<a href="#" id="QC">
    <img src="images/QC.png" width="48" height="48" />
</a>

<script>
    var id = 'QC';
    var card = document.getElementById(id);
    card.addEventListener('click', function () {
        AddMyCard0(id);
    });

    function AddMyCard0(card) {
        document.getElementById('myCard0').innerHTML = card;
    }
</script>

<button>Reset (todo)</button>
<p>Rank: @Model.HandRank</p>
<p>Current Round: @Model.CurrentRound</p>
<p>Probabilities</p>
<p>High Card: @Model.ChanceHighCard%</p>
<p>Pair: @Model.ChancePair%</p>
<p>Two Pair: @Model.ChanceTwoPair%</p>
<p>Three of a Kind: @Model.ChanceThreeKind%</p>
<p>Straight: @Model.ChanceStraight%</p>
<p>Flush: @Model.ChanceFlush%</p>
<p>Full House: @Model.ChanceFullHouse%</p>
<p>Four of a Kind: @Model.ChanceFourKind%</p>
<p>Straight Flush: @Model.ChanceStraightFlush%</p>
<p>Royal Flush: @Model.ChanceRoyalFlush%</p>

