@page
@model HoldemModel
@{
}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="probability odds calculator of poker hands">
    <meta name="keywords" content="poker, hand, texas holdem">
    <meta name="author" content="poker dude">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>



        body {
            background-color: white;
        }

        h1 {
            color: black;
            margin-left: 0px;
        }

        h2 {
            color: black;
            font-size: 15px;
            margin-left: 0px;
        }

        .cardButton {
            width: 40px;
            height: 50px;
        }

        .myCard {
            width: 48px;
            height: 60px;
        }

        .tableCard {
            width: 40px;
            height: 50px;
        }

        li {
        }
    </style>
</head>

<h1>Texas Hold'em Odds Calculator</h1>
<h2>This shows the probabilities of obtaining different poker hands during each phase of the game</h2>
<form id="myForm" method="post">

    @if (!String.IsNullOrEmpty(Model.Card0))
    {
        <img id="myCard0" src="images/@(Model.Card0display).png" class="myCard" />
    }
    else
    {
        <img id="myCard0" src="images/cardback.png" class="myCard" />
    }
    @if (!String.IsNullOrEmpty(Model.Card1))
    {
        <img id="myCard1" src="images/@(Model.Card1).png" class="myCard" />
    }
    else
    {
        <img id="myCard1" src="images/cardback.png" class="myCard" />
    }
    <p></p>

    <!--
    <div>Pocket Cards</div>
    <div id="test"></div>
    <p></p>
        -->

    @if (!String.IsNullOrEmpty(Model.Flop0))
    {
        <img id="myCard2" src="images/@(Model.Flop0).png" class="tableCard" />
    }
    else
    {
        <img id="myCard2" src="images/cardback.png" class="tableCard" />
    }
    @if (!String.IsNullOrEmpty(Model.Flop1))
    {
        <img id="myCard3" src="images/@(Model.Flop1).png" class="tableCard" />
    }
    else
    {
        <img id="myCard3" src="images/cardback.png" class="tableCard" />
    }
    @if (!String.IsNullOrEmpty(Model.Flop2))
    {
        <img id="myCard4" src="images/@(Model.Flop2).png" class="tableCard" />
    }
    else
    {
        <img id="myCard4" src="images/cardback.png" class="tableCard" />
    }
    &nbsp;&nbsp;&nbsp;
    <!--
    <div>Flop</div>
    <p></p>
    -->
    @if (!String.IsNullOrEmpty(Model.Turn))
    {
        <img id="myCard5" src="images/@(Model.Turn).png" class="tableCard" />
    }
    else
    {
        <img id="myCard5" src="images/cardback.png" class="tableCard" />
    }
    &nbsp;&nbsp;&nbsp;
    <!--
    <div>Turn</div>
    <p></p>
    -->
    @if (!String.IsNullOrEmpty(Model.River))
    {
        <img id="myCard6" src="images/@(Model.River).png" class="tableCard" />
    }
    else
    {
        <img id="myCard6" src="images/cardback.png" class="tableCard" />
    }
    &nbsp;&nbsp;&nbsp;
    <a id="btnRandomCard">
        <img src="images/randomCard.jpg" class="cardButton" />
    </a>
    &nbsp;&nbsp;&nbsp;
    <a asp-area="" asp-page="/Holdem">New Hand</a>
    <!--
    <div>River</div>
    -->
    <input id="myCardHidden0" type="hidden" asp-for="Hand.MyCard0Id" />
    <input id="myCardHidden1" type="hidden" asp-for="Hand.MyCard1Id" />
    <input id="myCardHidden2" type="hidden" asp-for="Hand.Flop0" />
    <input id="myCardHidden3" type="hidden" asp-for="Hand.Flop1" />
    <input id="myCardHidden4" type="hidden" asp-for="Hand.Flop2" />
    <input id="myCardHidden5" type="hidden" asp-for="Hand.Turn" />
    <input id="myCardHidden6" type="hidden" asp-for="Hand.River" />
</form>

<p></p>
<a id="AS">
    <img src="images/aspades.png" class="cardButton" />
</a>
<a id="KS">
    <img src="images/KS.png" class="cardButton" />
</a>
<a id="QS">
    <img src="images/QS.png" class="cardButton" />
</a>
<a id="JS">
    <img src="images/JS.png" class="cardButton" />
</a>
<a id="10S">
    <img src="images/10S.png" class="cardButton" />
</a>
<a id="9S">
    <img src="images/9S.png" class="cardButton" />
</a>
<a id="8S">
    <img src="images/8S.png" class="cardButton" />
</a>
<a id="7S">
    <img src="images/7spade.png" class="cardButton" />
</a>
<a id="6S">
    <img src="images/6S.png" class="cardButton" />
</a>
<a id="5S">
    <img src="images/5S.png" class="cardButton" />
</a>
<a id="4S">
    <img src="images/4S.png" class="cardButton" />
</a>
<a id="3S">
    <img src="images/3S.png" class="cardButton" />
</a>
<a id="2S">
    <img src="images/2S.png" class="cardButton" />
</a>
<p></p>
<a id="AH">
    <img src="images/AH.png" class="cardButton" />
</a>
<a id="KH">
    <img src="images/KH.png" class="cardButton" />
</a>
<a id="QH">
    <img src="images/QH.png" class="cardButton" />
</a>
<a id="JH">
    <img src="images/JH.png" class="cardButton" />
</a>
<a id="10H">
    <img src="images/10H.png" class="cardButton" />
</a>
<a id="9H">
    <img src="images/9H.png" class="cardButton" />
</a>
<a id="8H">
    <img src="images/8H.png" class="cardButton" />
</a>
<a id="7H">
    <img src="images/7H.png" class="cardButton" />
</a>
<a id="6H">
    <img src="images/6H.png" class="cardButton" />
</a>
<a id="5H">
    <img src="images/5H.png" class="cardButton" />
</a>
<a id="4H">
    <img src="images/4H.png" class="cardButton" />
</a>
<a id="3H">
    <img src="images/3H.png" class="cardButton" />
</a>
<a id="2H">
    <img src="images/2heart.png" class="cardButton" />
</a>
<p></p>
<a id="AC">
    <img src="images/AC.png" class="cardButton" />
</a>
<a id="KC">
    <img src="images/KC.png" class="cardButton" />
</a>
<a id="QC">
    <img src="images/QC.png" class="cardButton" />
</a>
<a id="JC">
    <img src="images/JC.png" class="cardButton" />
</a>
<a id="10C">
    <img src="images/10C.png" class="cardButton" />
</a>
<a id="9C">
    <img src="images/9C.png" class="cardButton" />
</a>
<a id="8C">
    <img src="images/8C.png" class="cardButton" />
</a>
<a id="7C">
    <img src="images/7C.png" class="cardButton" />
</a>
<a id="6C">
    <img src="images/6C.png" class="cardButton" />
</a>
<a id="5C">
    <img src="images/5C.png" class="cardButton" />
</a>
<a id="4C">
    <img src="images/4C.png" class="cardButton" />
</a>
<a id="3C">
    <img src="images/3C.png" class="cardButton" />
</a>
<a id="2C">
    <img src="images/2C.png" class="cardButton" />
</a>
<p></p>
<a id="AD">
    <img src="images/AD.png" class="cardButton" />
</a>
<a id="KD">
    <img src="images/KD.png" class="cardButton" />
</a>
<a id="QD">
    <img src="images/QD.png" class="cardButton" />
</a>
<a id="JD">
    <img src="images/JD.png" class="cardButton" />
</a>
<a id="10D">
    <img src="images/10D.png" class="cardButton" />
</a>
<a id="9D">
    <img src="images/9D.png" class="cardButton" />
</a>
<a id="8D">
    <img src="images/8D.png" class="cardButton" />
</a>
<a id="7D">
    <img src="images/7D.png" class="cardButton" />
</a>
<a id="6D">
    <img src="images/6D.png" class="cardButton" />
</a>
<a id="5D">
    <img src="images/5D.png" class="cardButton" />
</a>
<a id="4D">
    <img src="images/4D.png" class="cardButton" />
</a>
<a id="3D">
    <img src="images/3D.png" class="cardButton" />
</a>
<a id="2D">
    <img src="images/2D.png" class="cardButton" />
</a>
<p></p>

<!--
<button id="btnRandomCard" onclick="DealRandomCard()">Random</button>
    -->
<ul class="list-group">
    <li class="list-group-item list-group-item-action active">Probabilities</li>
    @if (Model.ChanceHighCard == "100")
    {
        <li id="highCard" class="list-group-item list-group-item-success">High Card</li>
    }
    else if (Model.ChanceHighCard == "0")
    {
        <li id="highCard" class="list-group-item list-group-item-light">High Card: @Model.ChanceHighCard%</li>
    }
    else
    {
        <li id="highCard" class="list-group-item list-group-item-warning">High Card: @Model.ChanceHighCard%</li>
    }
    @if (Model.ChancePair == "100")
    {
        <li id="pair" class="list-group-item list-group-item-success">Pair</li>
    }
    else if (Model.ChancePair == "0")
    {
        <li id="pair" class="list-group-item list-group-item-light">Pair: @Model.ChancePair%</li>
    }
    else
    {
        <li id="pair" class="list-group-item list-group-item-warning">Pair: @Model.ChancePair%</li>
    }
    @if (Model.ChanceTwoPair == "100")
    {
        <li id="twoPair" class="list-group-item list-group-item-success">Two Pair</li>
    }
    else if (Model.ChanceTwoPair == "0")
    {
        <li id="twoPair" class="list-group-item list-group-item-light">Two Pair: @Model.ChanceTwoPair%</li>
    }
    else
    {
        <li id="twoPair" class="list-group-item list-group-item-warning">Two Pair: @Model.ChanceTwoPair%</li>
    }
    @if (Model.ChanceThreeKind == "100")
    {
        <li id="threeKind" class="list-group-item list-group-item-success">Three of a Kind</li>
    }
    else if (Model.ChanceThreeKind == "0")
    {
        <li id="threeKind" class="list-group-item list-group-item-light">Three of a Kind: @Model.ChanceThreeKind%</li>
    }
    else
    {
        <li id="threeKind" class="list-group-item list-group-item-warning">Three of a Kind: @Model.ChanceThreeKind%</li>
    }
    @if (Model.ChanceStraight == "100")
    {
        <li id="straight" class="list-group-item list-group-item-success">Straight</li>
    }
    else if (Model.ChanceStraight == "0")
    {
        <li id="straight" class="list-group-item list-group-item-light">Straight: @Model.ChanceStraight%</li>
    }
    else
    {
        <li id="straight" class="list-group-item list-group-item-warning">Straight: @Model.ChanceStraight%</li>
    }
    @if (Model.ChanceFlush == "100")
    {
        <li id="flush" class="list-group-item list-group-item-success">Flush</li>
    }
    else if (Model.ChanceFlush == "0")
    {
        <li id="flush" class="list-group-item list-group-item-light">Flush: @Model.ChanceFlush%</li>
    }
    else
    {
        <li id="flush" class="list-group-item list-group-item-warning">Flush: @Model.ChanceFlush%</li>
    }
    @if (Model.ChanceFullHouse == "100")
    {
        <li id="fullHouse" class="list-group-item list-group-item-success">Full House</li>
    }
    else if (Model.ChanceFullHouse == "0")
    {
        <li id="fullHouse" class="list-group-item list-group-item-light">Full House: @Model.ChanceFullHouse%</li>
    }
    else
    {
        <li id="fullHouse" class="list-group-item list-group-item-warning">Full House: @Model.ChanceFullHouse%</li>
    }
    @if (Model.ChanceFourKind == "100")
    {
        <li id="fourKind" class="list-group-item list-group-item-success">Four of a Kind</li>
    }
    else if (Model.ChanceFourKind == "0")
    {
        <li id="fourKind" class="list-group-item list-group-item-light">Four of a Kind: @Model.ChanceFourKind%</li>
    }
    else
    {
        <li id="fourKind" class="list-group-item list-group-item-warning">Four of a Kind: @Model.ChanceFourKind%</li>
    }
    @if (Model.ChanceStraightFlush == "100")
    {
        <li id="straightFlush" class="list-group-item list-group-item-success">Straight Flush</li>
    }
    else if (Model.ChanceStraightFlush == "0")
    {
        <li id="straightFlush" class="list-group-item list-group-item-light">Straight Flush: @Model.ChanceStraightFlush%</li>
    }
    else
    {
        <li id="straightFlush" class="list-group-item list-group-item-warning">Straight Flush: @Model.ChanceStraightFlush%</li>
    }
    @if (Model.ChanceRoyalFlush == "100")
    {
        <li id="royalFlush" class="list-group-item list-group-item-success">Royal Flush</li>
    }
    else if (Model.ChanceRoyalFlush == "0")
    {
        <li id="royalFlush" class="list-group-item list-group-item-light">Royal Flush: @Model.ChanceRoyalFlush%</li>
    }
    else
    {
        <li id="royalFlush" class="list-group-item list-group-item-warning">Royal Flush: @Model.ChanceRoyalFlush%</li>
    }
</ul>

<p>Current Rank: @Model.HandRank</p>

<script>
    
    var cardIds = [
        'AC', 'KC', 'QC', 'JC', '10C', '9C', '8C', '7C', '6C', '5C', '4C', '3C', '2C',
        'AS', 'KS', 'QS', 'JS', '10S', '9S', '8S', '7S', '6S', '5S', '4S', '3S', '2S',
        'AD', 'KD', 'QD', 'JD', '10D', '9D', '8D', '7D', '6D', '5D', '4D', '3D', '2D',
        'AH', 'KH', 'QH', 'JH', '10H', '9H', '8H', '7H', '6H', '5H', '4H', '3H', '2H'];

    cardIds.forEach(AddEventListeners);
    function AddEventListeners(item, index) {
        var btnCard = document.getElementById(item);
        btnCard.addEventListener('click', function () {
            DealCard(this, item);
        });
    }

    var btnRandom = document.getElementById('btnRandomCard');
    btnRandom.addEventListener('click', function () {
        DealRandomCard();
    });

    this.PossiblyHideDealtCardButtons();

    //remove the card that was dealt
    function RemoveCardFromCardIds(cardId) {
        this.cardIds.splice(this.cardIds.indexOf(cardId), 1);
        //alert(cardId + " removed");
    }

    function HideAllCardButtons()
    {
        var i;
        for (i = 0; i < this.cardIds.length; i++)
        {
            var cardButton = document.getElementById(this.cardIds[i]);
            cardButton.style.display = "none";
        }
        var randButton = document.getElementById('btnRandomCard');
        randomButton.style.display = "hidden"; //todo this doesn't work
    }

    //hide the card buttons that have been used
    function PossiblyHideDealtCardButtons()
    {
        @{
            if (!String.IsNullOrEmpty(Model.River))
            {
                <text>
                this.HideAllCardButtons();
                return;
                </text>
            }

            var cardsUsed = new List<string>();
            if (!String.IsNullOrEmpty(Model.Card0) &&
            !String.IsNullOrEmpty(Model.Card1))
            {
                cardsUsed.Add(Model.Card0);
                cardsUsed.Add(Model.Card1);
            }

            if (!String.IsNullOrEmpty(Model.Flop0) &&
            !String.IsNullOrEmpty(Model.Flop1) &&
            !String.IsNullOrEmpty(Model.Flop2))
            {
                cardsUsed.Add(Model.Flop0);
                cardsUsed.Add(Model.Flop1);
                cardsUsed.Add(Model.Flop2);
            }
            if (!String.IsNullOrEmpty(Model.Turn))
            {
                cardsUsed.Add(Model.Turn);
            }

            //tried to set currentCard number here
            //int cardsUsedCount = cardsUsed.Count;
            //<text>
            //var countJson = @Html.Raw(Json.Serialize(@cardsUsedCount));
            //document.getElementById('test').innerHTML = countJson;
            //this.currentCard = parseInt(countJson);
            //</text>

            foreach (string cardId in cardsUsed)
            {
                <text>

                var cardIdJson = @Html.Raw(Json.Serialize(@cardId));
                //remove from card ids
                this.RemoveCardFromCardIds(cardIdJson);

                //hide the card button
                var cardButton = document.getElementById(cardIdJson);
                cardButton.style.display = "none";
                </text>
            }
        }
    }

    var currentCard = 0; //the current card number that is being dealt
    function DealCard(cardButton, cardId) {
        if (this.currentCard == 0) {
            this.PossiblySetCurrentCardNumber();
        }

        this.RemoveCardFromCardIds(cardId);
        //hide the button
        cardButton.style.display = "none";
        //todo this doesn't work
        //cardButton.disabled = true;
        var cardImage = document.getElementById('myCard' + this.currentCard);
        var cardhiddenElement = document.getElementById('myCardHidden' + this.currentCard);
        var imgSource = "images/" + GetDisplayName(cardId) + ".png";
        cardImage.src = imgSource;
        cardhiddenElement.value = cardId;
        this.currentCard++;
        this.PossiblyAutoSubmitForm();
    }

    function GetDisplayName(cardId)
    {
        var displayName;
        if (cardId.includes("S"))
            displayName = cardId.replace("S", "spade");
        else if (cardId.includes("H"))
            displayName = cardId.replace("H", "heart");
        else if (cardId.includes("C"))
            displayName = cardId.replace("C", "club");
        else if (cardId.includes("D"))
            displayName = cardId.replace("D", "diamond");
        return displayName;
    }

    function PossiblySetCurrentCardNumber() {
        @if (!String.IsNullOrEmpty(Model.Card0) &&
            !String.IsNullOrEmpty(Model.Card1) &&
            !String.IsNullOrEmpty(Model.Flop0) &&
            !String.IsNullOrEmpty(Model.Flop1) &&
            !String.IsNullOrEmpty(Model.Flop2) &&
            !String.IsNullOrEmpty(Model.Turn))
        {
            <text>
            this.currentCard = 6;
            </text>
        }
        else if (!String.IsNullOrEmpty(Model.Card0) &&
            !String.IsNullOrEmpty(Model.Card1) &&
            !String.IsNullOrEmpty(Model.Flop0) &&
            !String.IsNullOrEmpty(Model.Flop1) &&
            !String.IsNullOrEmpty(Model.Flop2))
        {
            <text>
            this.currentCard = 5;
            </text>
        }
        else if (!String.IsNullOrEmpty(Model.Card0) &&
            !String.IsNullOrEmpty(Model.Card1))
        {
            <text>
            this.currentCard = 2;
            </text>
        }
    }

    //auto submit after each round
    function PossiblyAutoSubmitForm() {
        if (this.currentCard == 2 ||
            this.currentCard == 5 ||
            this.currentCard == 6 ||
            this.currentCard == 7 ) {
            document.getElementById('myForm').submit();
        }
    }

    function DealRandomCard()
    {
        var len = this.cardIds.length;
        //alert("current length of cardIds is "+len);
        var randomInt = this.GetRndInteger(0, len - 1);
        var cardId = this.cardIds[randomInt];
        var cardButton = document.getElementById(cardId);
        this.DealCard(cardButton, cardId);
    }

    function GetRndInteger(min, max)
    {
        return Math.floor(Math.random() * (max - min)) + min;
    }
</script>
