@page
@model HoldemModel
@{
}
<h1>Play Texas Holdem!</h1>
<form method="post">
    <p id="myCard0"></p><p id="myCard1"></p>
    <input id="myCard0Hidden" type="hidden" asp-for="Hand.MyCard0Id" />
    <input id="myCard1Hidden" type="hidden" asp-for="Hand.MyCard1Id" />
    <button type="submit">submit!</button>
    <p>@Model.Card0, @Model.Card1</p>
    <input type="text" asp-for="Hand.Flop0" placeholder="flop 0" />
    <input type="text" asp-for="Hand.Flop1" placeholder="flop 1" />
    <input type="text" asp-for="Hand.Flop2" placeholder="flop 2" />
    <button type="submit">submit!</button>
    <p>@Model.Flop0, @Model.Flop1, @Model.Flop2</p>
    <input type="text" asp-for="Hand.Turn" placeholder="turn" />
    <p>@Model.Turn</p>
    <input type="text" asp-for="Hand.River" placeholder="river" />
    <p>@Model.River</p>

</form>

<a id="QC">
    <img src="images/QC.png" width="48" height="48" />
</a>
<a id="JC">
    <img src="images/JC.png" width="48" height="48" />
</a>

<script>
    //var arr = string[];

    var id1 = 'JC';
    var card1Element = document.getElementById(id1);
    card1Element.addEventListener('click', function () {
        SetCard(id1, 1);
    });

    var id = 'QC';
    var card = document.getElementById(id);
    card.addEventListener('click', function () {
        SetCard(id, 0);
    });

    function SetCard(card, num) {
        var element;
        var hiddenElement;
        if (num == 0) {
            element = document.getElementById('myCard0');
            hiddenElement = document.getElementById('myCard0Hidden');
        }
        else if (num == 1) {
            element = document.getElementById('myCard1');
            hiddenElement = document.getElementById('myCard1Hidden');
        }
        element.innerHTML = card;
        hiddenElement.value = card;
    }
</script>

<button>Reset (todo)</button>
<p>Rank: @Model.HandRank</p>
<p>Current Round: @Model.CurrentRound</p>
<p>Probabilities</p>
<p>High Card: @Model.ChanceHighCard%</p>
<p>Pair: @Model.ChancePair%</p>
<p>Two Pair: @Model.ChanceTwoPair%</p>
<p>Three of a Kind: @Model.ChanceThreeKind%</p>
<p>Straight: @Model.ChanceStraight%</p>
<p>Flush: @Model.ChanceFlush%</p>
<p>Full House: @Model.ChanceFullHouse%</p>
<p>Four of a Kind: @Model.ChanceFourKind%</p>
<p>Straight Flush: @Model.ChanceStraightFlush%</p>
<p>Royal Flush: @Model.ChanceRoyalFlush%</p>

